.monaco-editor .cursors-layer .cursor {
  background: #FF3CAC; 
  background: -webkit-linear-gradient(
    to top,
    #0fd850,
    #f9f047
  ); 
  background: linear-gradient(
    to top,
    #0fd850,
    #f9f047
  ); 
}
