.monaco-editor .cursors-layer .cursor {
  background: #FF3CAC; 
  background: -webkit-linear-gradient(
    to top,
    #667eea,
    #764ba2
  ); 
  background: linear-gradient(
    to top,
    #667eea,
    #764ba2
  ); 
}
